@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Vastago Grotesque';
  src: url('/fonts/VastagoGrotesk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 16px; /* base size */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Vastago Grotesque", sans-serif;
}

p, a, span, button {
  font-family: "Nohemi", sans-serif;
}

@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
